
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}


a{
  text-decoration: none;
  text-decoration-color: #2E2F30;
  &:hover{opacity: 0.5;}
}

.bg-cool{background: #2119b8;}
.bg-wonder{background: #a62ebe;}
.bg-hot{background: #d90505;}
.bg-fun{background: #bea505;}
.bg-sad{background: #0e8669;}
.bg-relax{background: #33af11;}
.bg-love{background: #dd44c4;}
.bg-dark{background: #241d23;}
.bg-none{background: #636363;}



.user_icon{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px 10px 5px 10px;
}

.bg-img-cotain{
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-main{background: #f7e4e4;}

.box-shadow-top{
  box-shadow: 3px 5px 10px #b5a5a5;
  -webkit-box-shadow: 3px 5px 10px #b5a5a5;
  -moz-box-shadow: 3px 5px 10px #b5a5a5;
}

.box-shadow-bottom{
  box-shadow: 3px -1px 10px #b5a5a5;
  -webkit-box-shadow: 3px -1px 10px #b5a5a5;
  -moz-box-shadow: 3px -1px 10px #b5a5a5;
}

.text-main{color: #c75959;}

.text-main-shadow{text-shadow: 2px 3px 5px #b5a5a5;}

.main-top-pad{padding-top: 60px;}

.click_track_js:active{
  opacity: 0.8;
}
.click_track_js:hover{
  opacity: 0.8;
}

//paginate
nav.pagination{
  width: 100%;
}



.track-list{
  border-top: 1px solid #a0a0a0;
  &:nth-last-of-type(1){border-bottom: 1px solid #a0a0a0;}
  display: table;
  .img-frame{
    display: table-cell;
    width: 30%;
    vertical-align: middle;
  }
  .text-frame{
    display: table-cell;
    width: 70%;
  }
}

.modal_text_area{
  width: 100%;
  padding-bottom: 200px;
  border: 1px solid #ced4da;
}

.feeling-select{
  width: 35%;
  border: 1px solid #ced4da;
}

.comment-frame{
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.user-info-frame{
  overflow: hidden;
  .comment-sub-info{
    margin-right: -35px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}

.line-height{line-height: 150%;}
.text-indent{text-indent: 1em;}

.img-cafe{
  background-position: center;
  background-size: cover;
}

.white_moji{
  text-shadow:
          black 2px 0px,  black -2px 0px,
          black 0px -2px, black 0px 2px,
          black 2px 2px , black -2px 2px,
          black 2px -2px, black -2px -2px,
          black 1px 2px,  black -1px 2px,
          black 1px -2px, black -1px -2px,
          black 2px 1px,  black -2px 1px,
          black 2px -1px, black -2px -1px;
}